{% load static %}

<script src="{% static 'js/index.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<h1 onclick="onClick()">Members</h1>

<img src="{% static 'images/image.jpg'%}" />

<table border="1">
  {% for x in todos %}
  <tr>
    <td>{{ x.id }}</td>
    <td>{{ x.todo }}</td>
    <td>{{ x.description }}</td>
    <td><a href="delete/{{ x.id }}">delete</a></td>
  </tr>
  {% endfor %}
</table>

<p>
  <a href="add/">Add Todos</a>
</p>

{% include 'common.html' with from='index.html'%}
