table {
  width: 100%;
}

tr {
  text-align: center;
  border: 1px solid gray;
}

td,
th {
  padding: 6px;
  border: 1px solid gray;
}

.delete-button {
  background-color: rgb(186, 67, 67);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 4px;
  cursor: pointer;

  width: 90%;
}
