body,
html {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 90%;
  padding: 10px;
  margin: auto;
  background-color: rgba(127, 132, 132, 0.682);
}

.input-wrapper {
  margin: 20px;
}

.input-wrapper input {
  width: 90%;
  height: 25px;
  border-radius: 4px;
  border: 0px;
}

.input-wrapper label {
  width: 90%;
  margin-bottom: 5px;
  display: block;
}

.input-wrapper button {
  width: 90%;
  cursor: pointer;
  margin-bottom: 5px;
  background-color: tomato;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(51, 12, 5);
  border-radius: 5px;
}

#contact-list table {
  width: 100%;
}

#contact-list table tr {
  text-align: left;
}
