main {
  background-color: rgb(56, 112, 113, 0.2);
  border: 1px solid rgb(56, 112, 113, 1);
  padding: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: center;
  /* flex-flow: row wrap; */
}

main div {
  margin: 2px;
}

.a {
  background-color: rgb(56, 112, 113, 1);
}

.b {
  background-color: rgb(56, 112, 113, 0.8);
  height: 100px;
}

.c {
  background-color: rgb(56, 112, 113, 0.6);
  width: 100px;
}

.d {
  background-color: rgb(56, 112, 113, 0.4);
  height: 100px;
  width: 100px;
}
